version: '3.8'

services:
  usercontrol:
    environment:
      DBCONN: "Server=db_usercontrol;Port=5432;Database=postgres;User Id=postgres;Password=postgres"
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    networks:
      - usercontrol
  db_usercontrol:
    image: postgres:14.3
    restart: unless-stopped
    ports:
      - 5544:5432
    networks:
      - usercontrol
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
networks:
  usercontrol:
    driver: bridge
volumes:
  postgres-data:
